<div>
    <div class="main">
        <div class="card col-md-9 margin-auto">
            <div class="card-header header-style">
                <b>Details</b>
            </div>
            <div class="card-body">
                <form [formGroup]="detailsForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select class="dropdown" formControlName="category" placeholder="Categories">
                                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" id="sysconfig" name="sysconfig" placeholder="System Configuration/URL" formControlName="config_url" required />
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="username" name="username" placeholder="Username" formControlName="username" required />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="password" name="password" placeholder="Password" formControlName="password" required />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <textarea id="moreinfo" name="more-info" placeholder="Other Notes..." rows="5" cols="50" formControlName="notes"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary button-style ml-1" (click)="saveConfigurationDetails()">Save</button>
                    <button type="button" class="btn btn-primary button-style mr-1" (click)="resetConfigurationDetails()">Reset</button>
                </form>
            </div>
        </div>
        <br>
        <div class="results row" style="margin: auto;">
            <div class="card-container col-md-3 mt-3 mb-3" *ngFor="let item of listOfSelectedConfig; let i = index;">
                <div class="card card-flip text-center" id="{{'card-' + i}}">
                    <div class="card-body">
                        <div class="side">
                            <h5 class="card-title card-title-flip">{{item.category}}</h5>
                            <p class="card-text-flip"><b>System Configuration/URL:</b> {{item.config_url}}</p>
                            <p class="card-text-flip"><b>Other Notes:</b> {{item.notes || '-'}}</p>
                        </div>
                        <div class="side back">
                            <b>Username:</b> {{item.username}}
                            <br>
                            <b>Password:</b>
                            <div class="line-height">
                                <p class="card-text password" id="{{'password-' + i}}"> {{item.password}} </p>
                            </div>
                                <button type="button" id="{{'button-' + i}}" class="btn-password mt-2 header-style" (click)="showPassword($event)">Show!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>